<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>View</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>menu.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>sGetAllData</servlet-name>
    <servlet-class>view.servlets.SGetAllData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sGetAllData</servlet-name>
    <url-pattern>/sGetAllData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sDeleteItem</servlet-name>
    <servlet-class>view.servlets.SDeleteItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sDeleteItem</servlet-name>
    <url-pattern>/sDeleteItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sEditItem</servlet-name>
    <servlet-class>view.servlets.SEditItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sEditItem</servlet-name>
    <url-pattern>/sEditItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sAddItem</servlet-name>
    <servlet-class>view.servlets.SAddItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sAddItem</servlet-name>
    <url-pattern>/sAddItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sSearchItem</servlet-name>
    <servlet-class>view.servlets.SSearchItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sSearchItem</servlet-name>
    <url-pattern>/sSearchItem</url-pattern>
  </servlet-mapping>
</web-app>